/* ==========================
   Box Model
========================== */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* ==========================
   Body
========================== */

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    line-height: var(--line-height);
}


/* ==========================
   Heading
========================== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* ==========================
   List
========================== */

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* ==========================
   Link
========================== */

a {
    text-decoration: none;
    color: inherit;
}

/* ==========================
   Heading
========================== */



/* ==========================
   Heading
========================== */



/* ==========================
   Heading
========================== */



/* ==========================
   Heading
========================== */



/* ==========================
   Heading
========================== */



/* ==========================
   Heading
========================== */



/* ==========================
   Heading
========================== */

